rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isPantryMember(pantryId) {
      // Controlla se l'id della dispensa è nell'array delle dispense dell'utente
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return userDoc != null && pantryId in userDoc.data.userProfilePantryIds;
    }

    match /users/{userId} {
      // Lettura permessa a tutti per mostrare i nomi dei membri
      allow read: if isAuthenticated();
      
      // Creazione e cancellazione permesse solo al proprietario del profilo
      allow create, delete: if isAuthenticated() && request.auth.uid == userId;
      
      // Modifica permessa al proprietario, oppure ad altri utenti ma SOLO sui campi relativi alle dispense 
      // Serve per permettere all'owner di una dispensa di espellere un membro aggiornando il suo profilo)
      allow update: if isAuthenticated() && (
        request.auth.uid == userId ||
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['userProfilePantryIds', 'userProfileCurrentPantryId'])
      );
    }

    match /pantries/{pantryId} {
      // Lettura e creazione dispense consentita a tutti gli utenti loggati
      //Per cercare la dispensa a cui unirsi
      allow read, create: if isAuthenticated();
      
      // Eliminazione consentita solo dall'owner
      allow delete: if isAuthenticated() && resource.data.pantryOwnerId == request.auth.uid;
      
      // Modifica consentita all'owner, ai membri, o a chiunque si stia unendo tramite codice
      allow update: if isAuthenticated();
    }

    match /pantries/{pantryId}/history/{logId} {
      // Accesso allo storico solo se si appartiene alla dispensa
      allow read, write: if isAuthenticated() && isPantryMember(pantryId);
    }

    match /products/{productId} {
      // Accesso ai prodotti solo se si è membri della dispensa 
      allow read, update, delete: if isAuthenticated() && isPantryMember(resource.data.productPantryId);
      allow create: if isAuthenticated() && isPantryMember(request.resource.data.productPantryId);
    }

    match /shoppingListItems/{itemId} {
      // Accesso alla lista della spesa solo se si è membri della dispensa 
      allow read, update, delete: if isAuthenticated() && isPantryMember(resource.data.listItemPantryId);
      allow create: if isAuthenticated() && isPantryMember(request.resource.data.listItemPantryId);
    }

  }
}
